<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hustunique.myapplication">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:allowBackup="true" android:icon="@mipmap/logo" android:label="@string/app_name" android:name=".MyApplication"
        android:theme="@style/AppTheme.BLUE_LIGHT">


        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <meta-data android:name="UMENG_APPKEY" android:value="556ef52c67e58e297a002f7e"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID"/>

        <meta-data
            android:value="7c1655bd882940ca9b1e04660281e779" android:name =
            "ZHUGE_APPKEY"/>
        <meta-data
            android:value="Channel ID" android:name =
            "ZHUGE_CHANNEL"/>

        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PersonActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MipcaActivityCapture">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:launchMode="singleTop"
            android:label="@string/feedback_title" >
        </activity>
        <activity android:name=".DBAuthActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".WBAuthActivity">
            <intent-filter>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="service.WebService">
            <intent-filter>
                <action android:name="com.hustunique.myapplication.UPDATE"/>
            </intent-filter>
        </service>
</application>


<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
